
<div class="row" style="padding-bottom: 20px;">
  
<img class="card-img-top" src="../../../assets/images/agileWork.jpg" alt="Card image cap">
    
</div>


<div class="row">
  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">

          <p class="card-text"><b>Hands On Training</b>
            </p>


        <p class="card-text">Over the last 10 years, we have helped thousands of people attain rewarding careers in project management and business analysis. Our model is quite simple. We believe in training you on the job. When it’s hands on and practical, you come out of it all as an experienced project management or business analysis professional ready to earn higher end of the rates being paid.
        </p>

        <iframe src="https://www.youtube.com/embed/jb9j_IYv4cU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      
      </div>
    </div>
  </div>
  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">

          <p class="card-text"><b>Hands On Training</b>
            </p>


        <p class="card-text">Over the last 10 years, we have helped thousands of people attain rewarding careers in project management and business analysis. Our model is quite simple. We believe in training you on the job. When it’s hands on and practical, you come out of it all as an experienced project management or business analysis professional ready to earn higher end of the rates being paid.
        </p>
      
      </div>
    </div>
  </div>

  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        
          <p class="card-text"><b>Practical Work Experience</b>
          </p>

        <p class="card-text">As a Tech incubator, you will always have tonnes of project to get involved in gaining invaluable skills and expertise as a project management or business analysis professional. We operate within the digital and banking space, using industry standard tools and software to manage, analyse, monitor and control our project deliverables.</p>
      
      </div>
    </div>
  </div>

  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">

        
          <p class="card-text"><b>Collaborative learning</b>
          </p>

        <p class="card-text">With an ecosystem of over 3,000 strong project management and business analysis professionals, working closely together to gain practical work experience as project managers, business analysts, PMO analysts, project planners, program managers, project support officers or QA managers you really can’t go wrong because iron sharpens iron.
        </p>
      
      </div>
    </div>
  </div>

  <!--div class="col-md-4">
    <h3>Neckless</h3>
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../../../assets/images/neck.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Bracelet</h3>
    <div class="card mb-4 box-shadow">
    <img class="card-img-top" src="../../../assets/images/bracelet.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div-->
</div>
